@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Overpass');

body {
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: #223D68;
}

/*** for desktop scree ***/
@media screen and (min-width: 601px) {
  #home-page #first-section {
    background-color: white;
    text-align: left;
    background: url(../images/blueform-illustration.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 160px;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 0px;
  }
}

/*** for mobile screen ****/
@media screen and (max-width: 600px) {
  #home-page #first-section {
    background-color: white;
    text-align: center;
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 0px;
  }
}

/*** ---------- utilities ------------ ***/
.content-area {
  background-color: #F8FEFF;
  padding: 30px;
}

.content-area p {
  text-align: justify;
  font-size: 16px;
  line-height: 26px;
  font-family: Overpass;
  font-style: normal;
  letter-spacing: 0.01em;
  color: #6F7E83;
}

.content-area h1 {
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  font-size: 25px;
  letter-spacing: -0.02em;
  color: #223D68;
}

.for-individual-background {
  background: url(../images/for-individual.jpg);
  background-size: cover;
  background-position: center;
}

.for-non-profit-background {
  background: url(../images/for-non-profit.jpg);
  background-size: cover;
  background-position: center;
}

.for-business-background {
  /*background: url(../images/for-businesses.jpg);*/
  background-size: cover;
  background-position: center;
}

.b-button {
  background: linear-gradient(90deg, #3C94EE 49%, #1558E5 104.42%);
  font-size: 15px;
  border-radius: 15px;
  will-change: transform, box-shadow;
  transition: 0.3s;
  opacity: 0.7;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  vertical-align: middle;
}

.b-button-lg {
  background: linear-gradient(90deg, #3C94EE 49%, #1558E5 104.42%);
  font-size: 17px;
  height: 54px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
  font-family: inherit;
  vertical-align: middle;
  transition: 0.3s;
  opacity: 0.8;
}

.b-button-lg:hover {
  opacity: 1;
}

.b-button:hover {
  opacity: 1;
}

.borderless td, .borderless th {
    border: none;
}

.bf-h1 {
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  font-size: 30px;
  letter-spacing: -0.02em;
  color: #223D68;
}

.bf-h2 {
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  font-size: 30px;
  letter-spacing: -0.02em;
  color: #888888;;
}

.bf-p {
  font-family: Overpass;
  font-style: normal;
  line-height: 26px;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #6F7E83;
  padding-bottom: 60px;
}


/** ** -------- Home page style ------------- */
section {
  margin-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

#home-page #first-section .top-content {
  padding-top: 20px;
  margin-bottom: 100px;
}

#home-page #first-section .trust p {
  font-style: normal;
  font-weight: 600;
  color: #223D68;
  font-size: 14px;
}

#home-page #first-section .trust img {
  width: 250px;
  padding: 10px;
}

#home-page #first-section h1 {
  font-style: normal;
  font-weight: 800;
  line-height: 45px;
  font-size: 35px;
  letter-spacing: -0.01em;
  color: #223D68;
  margin-bottom: 10px;
}

#home-page #first-section p {
  font-family: 'Overpass';
  font-style: normal;
  line-height: 26px;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #6F7E83;
}

#home-page #first-section .illustration {
  background: url(../images/illustration.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#home-page .section-3 h1 {
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  font-size: 30px;
  letter-spacing: -0.01em;
  text-align: left;
}

#home-page .section-3 .first {
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  font-size: 30px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #223D68;
}

#home-page .section-3 .right-content h1 {
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  font-size: 30px;
  text-align: right;
  letter-spacing: -0.01em;
  color: #223D68;
}

#home-page .section-3 .right-content p {
  font-family: Overpass;
  font-style: normal;
  line-height: 26px;
  font-size: 18px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #6F7E83;
}

#home-page .section-3 .right-content ul {
  font-family: Overpass;
  font-style: normal;
  font-size: 18px;
  text-align: left;
  letter-spacing: -0.01em;
  color: #223D68;
  margin-bottom: 30px;
  padding-left: 40px;
  margin-top: 30px;
}

#home-page .section-3 .right-content ul li {
  margin-bottom: 10px;
}

#home-page .section-3 .background {
  background: url(../images/african-phone.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#home-page .section-4 h1 {
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  font-size: 30px;
  letter-spacing: -0.01em;
  color: #223D68;
  text-align: left;
}

#home-page .section-4 p {
  font-family: Overpass;
  font-style: normal;
  line-height: 26px;
  font-size: 18px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #6F7E83;
}

#home-page .section-4 .background {
  background: url(../images/section-4.jpeg);
  background-size: cover;
  background-position: center;
}

#home-page .section-4 .left-content ul {
  font-family: Overpass;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  text-align: left;
  letter-spacing: -0.01em;
  color: #223D68;
  margin-top: 30px;
}

#home-page .section-4 .left-content ul li {
  margin-bottom: 30px;
}

/*#home-page .section-4 .left-content ul li i {
  color: linear-gradient(90deg, #3C94EE 49%, #1558E5 104.42%);
}*/

#home-page .section-5 h1 {
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  font-size: 30px;
  text-align: right;
  letter-spacing: -0.01em;
  color: #223D68;
  padding-top: 60px;
  margin-bottom: 20px;
}

#home-page .section-5 p {
  font-family: Overpass;
  font-style: normal;
  line-height: 26px;
  font-size: 18px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #6F7E83;
  padding-bottom: 60px;
}

#home-page .section-5 .background {
  background: url(../images/section-5.jpeg);
  background-size: cover;
  background-position: center;
}

#home-page .section-6 h1 {
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  font-size: 30px;
  text-align: left;
  letter-spacing: -0.01em;
  color: #223D68;
  margin-bottom: 20px;
}

#home-page .section-6 p {
  font-family: Overpass;
  font-style: normal;
  line-height: 26px;
  font-size: 18px;
  text-align: left;
  letter-spacing: 0.01em;
  color: #6F7E83;
}

#home-page .section-6 .background {
  background: url(../images/section-6.jpeg);
  background-size: cover;
  background-position: center;
}

/**** ------------ careers page styles -------------- **/
#career .section-1 {
  padding-top: 150px;
  padding-left: 20px;
  padding-right: 20px;
}

#career .section-1 h1 {
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  font-size: 30px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #223D68;
}

#career .section-1 p {
  font-family: Overpass;
  font-style: normal;
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #6F7E83;
}

#career .section-1 a:hover {
  text-decoration: none;
}

#career .section-5 {
  margin-top: 70px;
  margin-bottom: 40px;
  padding-bottom: 60px;
}

#career .section-5 .card {
  padding: 20px;
}

#career .section-5 .card h2 {
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #223D68;
  text-transform: uppercase;
  margin-bottom: 0px;
}

#career .section-5 .card h1 {
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  font-size: 30px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #223D68;
  text-transform: uppercase;
}

#career .section-5 p {
  font-family: Overpass;
  font-style: normal;
  line-height: 34px;
  font-size: 18px;
  text-align: left;
  letter-spacing: 0.02em;
  color: #6F7E83;
}

#career .section-5 .card h6 a:hover {
  text-decoration: none;
}

#career .section-5 .star {
  box-shadow: 0px 30px 30px rgba(197, 197, 197, 0.2);
  border-radius: 6px;
  border-top: 4px solid blue;
}

#career .section-1 .tab {
  margin-top: 30px;
  display: inline-block;
}

#career .section-1 .tab a {
  padding: 10px;
  margin-right: 10px;
  line-height: 34px;
  font-size: 18px;
  letter-spacing: 0.02em;
  font-weight: 600;
  color: #6F7E83;
}

#career .section-1 .tab a:hover {
  text-decoration: none;
}

#career .section-1 .tab .active {
  border-bottom: 3px solid blue;
  color: blue;
}

#career .section-2 {
  background: url(../images/wavy-background.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#career .section-3 {
  margin-bottom: 30px;
  padding: 60px;
}

#career .section-3 h1 {
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  font-size: 30px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #223D68;
}

#career .section-3 .circle {
  background: linear-gradient(270deg, #3C94EE 122.79%, #1D64E7 -30.15%);
  height: 75px;
  width: 75px;
  padding: 20px;
  color: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 50%;
  font-size: 30px;
}

#career .section-3 p {
  font-family: Overpass;
  font-style: normal;
  line-height: 24px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  color: #888888;
}

#career .section-3 h2 {
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  font-size: 20px;
  letter-spacing: 2px;
  color: #223D68;
}

#career .section-4 {
  margin-bottom: 30px;
  padding: 60px;
}

#career .section-4 h1 {
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  font-size: 30px;
  letter-spacing: -0.02em;
  color: #223D68;
  margin-bottom: 40px;
}

#career .section-4 ul {
  padding-left: 30px;
}

#career .section-4 ul li {
  font-family: Overpass;
  font-style: normal;
  line-height: normal;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #888888;
  margin-bottom: 20px;
}

#career .section-4 ul li .fa-li {
  color: #223D68;
}

/*****  ------------------ do-more component section styles ---------------- ****/
#section-more {
  background: url(../images/wavy-background.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 50px;
}

#section-more h1 {
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  font-size: 40px;
  letter-spacing: -0.01em;
  color: #223D68;
  text-align: left;
}

#section-more p {
  font-family: Overpass;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;
  font-size: 25px;
  text-align: left;
  letter-spacing: 0.01em;
  color: #223D68;
  margin-bottom: 20px;
}

#section-more .right {
  text-align: right;
}

/*****  ------------------ why choose us page style ---------------- ****/
#choose-us .section-1 {
  padding-top: 150px;
  padding-left: 20px;
  padding-right: 20px;
}


#choose-us .section-2 {
  background: url(../images/wavy-background.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#choose-us .section-3 {
  margin-bottom: 30px;
  padding: 60px;
}

#choose-us .section-3 .background {
  background: url(../images/african-phone.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#choose-us .section-3 h1, #choose-us .section-4 h1, #choose-us .section-5 h1,
#choose-us .section-6 h1, #choose-us .section-7 h1, #choose-us .section-8 h1, #choose-us .section-9 h1,
#choose-us .section-10 h1, #choose-us .section-11 h1 {
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  font-size: 30px;
  letter-spacing: -0.02em;
  color: #223D68;
}

#choose-us .section-3 h2, #choose-us .section-4 h2, #choose-us .section-5 h2,
#choose-us .section-6 h2, #choose-us .section-7 h2, #choose-us .section-8 h2, #choose-us .section-9 h2,
#choose-us .section-10 h2, #choose-us .section-11 h2 {
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  font-size: 30px;
  letter-spacing: -0.02em;
  color: #888888;;
}

#choose-us .section-3 p, #choose-us .section-1 p, #choose-us .section-4 p, #choose-us .section-5 p,
#choose-us .section-6 p, #choose-us .section-7 p, #choose-us .section-8 p, #choose-us .section-9 p,
#choose-us .section-10 p, #choose-us .section-11 p {
  font-family: Overpass;
  font-style: normal;
  line-height: 26px;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #6F7E83;
  padding-bottom: 20px;
}

#choose-us .section-3 ul {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #223D68;
}

#choose-us .section-3 ul li {
  margin-bottom: 20px;
}

#choose-us .section-3 .content {
  padding-left: 40px;
}

#choose-us .section-4 {
  margin-bottom: 30px;
  padding: 60px;
}

#choose-us .section-4 .background {
  background: url(../images/african-children.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#choose-us .section-4 .content {
  padding: 40px;
}

#choose-us .section-5 {
  margin-bottom: 30px;
  padding: 60px;
}

#choose-us .section-5 .content {
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#choose-us .section-5 .background {
  background: url(../images/section-5.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#choose-us .section-6 .content {
  padding: 40px;
}

#choose-us .section-6 {
  margin-bottom: 30px;
  padding: 60px;
}

#choose-us .section-6 .background {
  background: url(../images/map.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#choose-us .section-7 .content {
  padding: 40px;
}

#choose-us .section-7 {
  margin-bottom: 30px;
  padding: 60px;
}

#choose-us .section-7 .background {
  background: url(../images/analysis.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#choose-us .section-8 .content {
  padding: 40px;
}

#choose-us .section-8 {
  margin-bottom: 30px;
  padding: 60px;
}

#choose-us .section-8 .background {
  background: url(../images/innovation.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#choose-us .section-9 .content {
  padding: 60px;
}

#choose-us .section-9 {
  margin-bottom: 30px;
  padding: 60px;
}

#choose-us .section-9 .background {
  background: url(../images/user-headphone.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#choose-us .section-10 .content {
  padding: 60px;
}

#choose-us .section-10 {
  margin-bottom: 30px;
  padding: 60px;
}

#choose-us .section-10 .background {
  background: url(../images/user-headphone.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#choose-us .section-11 .content {
  padding: 60px;
}

#choose-us .section-11 {
  margin-bottom: 30px;
    padding: 60px;
}

#choose-us .section-11 .background {
  background: url(../images/section-4.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*** ----- contact page style ------- ****/
#contact .section-1 {
  padding-top: 150px;
  padding-left: 20px;
  padding-right: 20px;
}

#contact .section-1 h1 {
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  font-size: 35px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #223D68;
}

#contact .section-1 p {
  font-family: Overpass;
  font-style: normal;
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #6F7E83;
}

#contact .section-2 {
  background: url(../images/wavy-background.png);
  background-size: contain;
  background-position: center;
  margin-top: 70px;
  margin-bottom: 40px;
}

#contact .section-2 p a {
  font-size: 30px;
  font-weight: 600;
  color: #6F7E83;
  margin-right: 15px;
}

#contact .section-2 .card {
  padding: 40px;
}

#contact .section-2 .card h2 {
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  font-size: 25px;
  text-align: left;
  letter-spacing: -0.02em;
  color: #223D68;
}

#contact .section-2 .card a:hover {
  text-decoration: none;
}

#contact .section-3 {
  margin-bottom: 30px;
  padding: 60px;
}

#contact .section-3 .background {
  background: url(../images/user-headphone.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#contact .section-3 .content {
  padding: 50px;
}

#contact .team {
  margin-top: 130px;
  text-align: center;
  padding: 60px;
}

#contact .team img {
  width: 200px;
}

#contact .team h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #223D68;
  margin-top: 10px;
}

#contact .team h1 {
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  font-size: 35px;
  letter-spacing: -0.02em;
  color: #223D68;
}

#contact .team p {
  font-family: Overpass;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #6F7E83;
}

#contact .section-3 h1 {
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  font-size: 30px;
  text-align: left;
  letter-spacing: -0.02em;
  color: #223D68;
}

#contact .section-3 p {
  font-family: Overpass;
  font-style: normal;
  line-height: 26px;
  font-size: 18px;
  text-align: left;
  letter-spacing: 0.02em;
  color: #6F7E83;
}

#contact .section-3 ul {
  font-family: Overpass;
  font-style: normal;
  font-size: 18px;
  color: #6F7E83;
}

#contact .section-3 ul li {
  margin-bottom: 20px;
}

#contact .section-3 ul li .fa-li {
  color: #223D68;
}

#contact .section-3 h6 a {
  margin-left: 10px;
}

#contact .section-3 h6 a:hover {
  text-decoration: none;
}

/*** ----- general page style ------- ****/
#general-support .section-1 {
  padding-top: 150px;
  padding-left: 20px;
  padding-right: 20px;
}

#general-support .section-1 h1 {
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  font-size: 35px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #223D68;
}

#general-support .section-1 p {
  font-family: Overpass;
  font-style: normal;
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #6F7E83;
}

#general-support .section-3 {
  background: url(../images/wavy-background.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 70px;
  margin-bottom: 40px;
}

#general-support .section-3 {
  margin-bottom: 30px;
  padding: 60px;
}

#general-support .section-3 .content {
  padding: 50px;
  background-color: white;
}

#general-support .section-3 .form {
  padding: 50px;
  background-color: white;
  color: #223D68;
}

#general-support .section-3 h1 {
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  font-size: 30px;
  text-align: left;
  letter-spacing: -0.02em;
  color: #223D68;
}

#general-support .section-3 p {
  font-family: Overpass;
  font-style: normal;
  line-height: 26px;
  font-size: 18px;
  text-align: left;
  letter-spacing: 0.02em;
  color: #6F7E83;
}

#general-support .section-3 ul {
  font-family: Overpass;
  font-style: normal;
  font-size: 18px;
  color: #6F7E83;
}

#general-support .section-3 ul li {
  margin-bottom: 20px;
}

#general-support .section-3 ul li .fa-li {
  color: #223D68;
}

#general-support .section-3 h6 a {
  margin-left: 10px;
}

#general-support .section-3 h6 a:hover {
  text-decoration: none;
}