section {
  margin-bottom: 130px;
}

#home-page #first-section {
  background-color: white;
  text-align: left;
}

#home-page #first-section .top-content {
  padding-top: 140px;
  padding-bottom: 140px;
}

#home-page #first-section h1 {
  font-style: normal;
  font-weight: 600;
  line-height: 55px;
  font-size: 53px;
  letter-spacing: -0.01em;
  color: #223D68;
}

#home-page #first-section p {
  /**font-family: Overpass **/
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  font-size: 20px;
  letter-spacing: 0.01em;
  color: #6F7E83;
}

#home-page #first-section .illustration {
  background: url(/assets/images/illustration.png);
  background-size: cover;
  background-position: center;
}

#home-page #first-section .learn-more {
  background: linear-gradient(90deg, #3C94EE 49%, #1558E5 104.42%);
  font-size: 20px;
  padding: 30px;
  border-radius: 27px;
}

#home-page .container .trusted-section p {
  /**font-family: Overpass;**/
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 20px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #223D68;
  margin-bottom: 10px;
}

#home-page .trusted-section img {
  height: 80px;
}

#home-page .section-3 h1 {
  /**font-family: Montserrat;**/
  font-style: normal;
  font-weight: 600;
  line-height: 53px;
  font-size: 48px;
  letter-spacing: -0.01em;
  text-align: left;
}

#home-page .section-3 .right-content h1 {
  /**font-family: Montserrat;**/
  font-style: normal;
  font-weight: 600;
  line-height: 53px;
  font-size: 48px;
  text-align: right;
  letter-spacing: -0.01em;
  color: #223D68;
}

#home-page .section-3 .right-content p {
  /**font-family: Overpass;**/
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #6F7E83;
}

#home-page .section-3 .right-content ul {
  /**font-family: Overpass;**/
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  text-align: left;
  letter-spacing: -0.01em;
  color: #223D68;
  margin-bottom: 60px;
  padding-left: 110px;
  margin-top: 40px;
}

#home-page .section-3 .right-content ul li {
  margin-bottom: 10px;
}

#home-page .section-3 .background {
  background: url(/assets/images/african-phone.jpg);
  background-size: cover;
  background-position: center;
}

#home-page .section-4 h1 {
  /**font-family: Montserrat;**/
  font-style: normal;
  font-weight: 600;
  line-height: 53px;
  font-size: 48px;
  letter-spacing: -0.01em;
  color: #223D68;
  text-align: left;
}

#home-page .section-4 p {
  /**font-family: Overpass;**/
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  font-size: 20px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #6F7E83;
}

#home-page .section-4 .background {
  background: url(/assets/images/section-4.jpeg);
  background-size: cover;
  background-position: center;
}

#home-page .section-4 .left-content ul {
  /**font-family: Overpass;**/
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  text-align: left;
  letter-spacing: -0.01em;
  color: #223D68;
  margin-bottom: 60px;
  margin-top: 40px;
  padding-left: 50px;
}

#home-page .section-4 .left-content ul li {
  margin-bottom: 50px;
}

#home-page .section-5 h1 {
  /**font-family: Montserrat;**/
  font-style: normal;
  font-weight: 600;
  line-height: 53px;
  font-size: 48px;
  text-align: right;
  letter-spacing: -0.01em;
  color: #223D68;
  padding-top: 90px;
  margin-bottom: 20px;
}

#home-page .section-5 p {
  /**font-family: Overpass;**/
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #6F7E83;
  padding-bottom: 90px;
}

#home-page .section-5 .background {
  background: url(/assets/images/section-5.jpeg);
  background-size: cover;
  background-position: center;
}

#home-page .section-6 h1 {
  /**font-family: Montserrat;**/
  font-style: normal;
  font-weight: 600;
  line-height: 53px;
  font-size: 48px;
  text-align: left;
  letter-spacing: -0.01em;
  color: #223D68;
  margin-bottom: 20px;
}

#home-page .section-6 p {
  /**font-family: Overpass;**/
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  font-size: 20px;
  text-align: left;
  letter-spacing: 0.01em;
  color: #6F7E83;
}

#home-page .section-6 .background {
  background: url(/assets/images/section-6.jpeg);
  background-size: cover;
  background-position: center;
}

#home-page .section-7 {
  background-color: #F8FEFF;
  padding-top: 80px;
  padding-bottom: 80px;
}

#home-page .section-7 h1 {
  /**font-family: Montserrat;**/
  font-style: normal;
  font-weight: 600;
  line-height: 53px;
  font-size: 48px;
  text-align: left;
  letter-spacing: -0.01em;
  color: #223D68;
  margin-bottom: 20px;
}

#home-page .section-7 h2 {
  /**font-family: Montserrat;**/
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  font-size: 30px;
  letter-spacing: -0.01em;
  color: #223D68;
  text-align: left;
  margin-bottom: 10px;
}

#home-page .section-7 p {
  /**font-family: Overpass;**/
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  font-size: 20px;
  text-align: left;
  letter-spacing: 0.01em;
  color: #6F7E83;
}

#home-page .section-7 .card {
  padding: 30px;
  background-color: white;
  border-radius: 8px;
}

#home-page .section-7 .middle-card {
  margin-right: 3rem;
  margin-left: 3rem;
}

#home-page .section-8 h1 {
  /**font-family: Montserrat;**/
  font-style: normal;
  font-weight: 600;
  line-height: 67px;
  font-size: 60px;
  letter-spacing: -0.01em;
  color: #223D68;
  text-align: left;
}

#home-page .section-8 p {
  /**font-family: Overpass;**/
  font-style: normal;
  font-weight: 600;
  line-height: 33px;
  font-size: 25px;
  text-align: left;
  letter-spacing: 0.01em;
  color: #223D68;
  margin-bottom: 20px;
}

#home-page .section-8 .right {
  text-align: right;
}

#home-page .section-8 .learn-more {
  background: linear-gradient(90deg, #3C94EE 49%, #1558E5 104.42%);
  font-size: 20px;
  padding: 30px;
  border-radius: 27px;
  float: right;
}
